services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    image: filament-app:dev
    container_name: php
    environment:
      APP_ENV: ${APP_ENV:-development}
      APP_DEBUG: "true"
      APP_URL: ${APP_URL}
      APP_KEY: ${APP_KEY}

      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}

      CACHE_STORE: file
      SESSION_DRIVER: cookie
      QUEUE_CONNECTION: sync

    volumes:
      - storagedata:/var/www/html/storage
    networks:
      - appnet
    pull_policy: never

  nginx:
    image: filament-app:dev
    container_name: nginx
    depends_on:
      - php
    pull_policy: never
    volumes:
      - storagedata:/var/www/html/storage
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - appnet
    labels:
      - "traefik.enable=true"
      # Domain + SSL nanti diset di UI Dokploy → Router → http/https → loadbalancer service=nginx

  scheduler:
    image: filament-app:dev
    container_name: scheduler
    depends_on:
      - php
    command: php artisan schedule:work
    restart: always
    pull_policy: never
    environment:
      APP_ENV: ${APP_ENV:-development}
      APP_KEY: ${APP_KEY}
      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    networks:
      - appnet

  # ---- Optional PostgreSQL local ----
  # Hapus kalau pakai DB eksternal
  db:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - dbdata:/var/lib/postgresql/data
    networks:
      - appnet
    pull_policy: if_not_present


volumes:
  dbdata:
  storagedata:

networks:
  appnet:
    driver: bridge
