services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    restart: unless-stopped
    volumes:
      - storage-data:/var/www/html/storage
      - cache-data:/var/www/html/bootstrap/cache

volumes:
  storage-data:
  cache-data:
