services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
      target: php
    expose:
      - "9000"
    restart: unless-stopped

  nginx:
    build:
      context: .
      dockerfile: Dockerfile
      target: nginx
    ports:
      - "8080:80"
    depends_on:
      - php
    restart: unless-stopped
