services:
  php:
    build:
      context: .
      target: phpruntime
    container_name: app-php
    env_file:
      - .env
    working_dir: /var/www/html
    restart: unless-stopped

  scheduler:
    build:
      context: .
      target: phpruntime
    container_name: app-scheduler
    env_file:
      - .env
    working_dir: /var/www/html
    # Laravel 10+ ada schedule:work (loop)
    command: ["bash","-lc","php artisan schedule:work"]
    depends_on:
      - php
    restart: unless-stopped

  nginx:
    build:
      context: .
      target: nginximage   # <- inilah yang hilang tadi
    container_name: app-nginx
    ports:
      - "80:80"
    depends_on:
      - php
    restart: unless-stopped
