version: "3.9"

services:
  # Sekali jalan: salin kode dari image app ke volume appcode
  app-init:
    image: planin/filament-app:dev
    command: sh -c 'cp -a /var/www/html/. /app && chown -R www-data:www-data /app'
    volumes:
      - appcode:/app
    restart: "no"

  php:
    image: planin/filament-app:dev
    depends_on:
      - app-init
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      APP_URL: ${APP_URL}
      APP_KEY: ${APP_KEY}

      DB_CONNECTION: pgsql
      DB_HOST: db           # ganti ke IP jika pakai Postgres eksternal
      DB_PORT: 5432
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}

      CACHE_STORE: ${CACHE_STORE:-file}
      SESSION_DRIVER: ${SESSION_DRIVER:-cookie}
      QUEUE_CONNECTION: ${QUEUE_CONNECTION:-sync}
    volumes:
      - appcode:/var/www/html:ro         # <-- kode + public/build dari volume
      - storagedata:/var/www/html/storage
    networks: [appnet]

  nginx:
    image: nginx:1.27-alpine
    depends_on:
      - php
    volumes:
      - appcode:/var/www/html:ro         # <-- sama: punya public/build
      - storagedata:/var/www/html/storage
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks: [appnet]
    labels:
      - "traefik.enable=true"

  scheduler:
    image: planin/filament-app:dev
    depends_on:
      - php
    command: php artisan schedule:work
    restart: always
    environment:
      APP_ENV: local
      APP_KEY: ${APP_KEY}
      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    volumes:
      - appcode:/var/www/html:ro
    networks: [appnet]

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - dbdata:/var/lib/postgresql/data
    networks: [appnet]

volumes:
  appcode:
  dbdata:
  storagedata:

networks:
  appnet:
    driver: bridge
